.landing-container .navbar {
  background-color: #161B22;
  height: 70px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-container .navbar > :first-child {
  margin-left: 35px;
}
.landing-container .navbar > :last-child {
  margin-right: 35px;
}
.landing-container .navbar .logo-home-link {
  display: flex;
  align-items: center;
  height: 65%;
  font-size: 24px;
}
.landing-container .navbar .logo-home-link img {
  height: 100%;
  filter: invert(90%);
  margin-right: 10px;
}
.landing-container .navbar .logo-home-link .logo-text-item {
  text-shadow: 5px 3px 5px #060913;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #E5E5E4;
}
.landing-container .navbar .sign-container > :first-child {
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
}
.landing-container .navbar .sign-container > :last-child {
  padding: 5px 10px;
  background-color: white;
  border-radius: 20px;
  color: #060913;
}
.landing-container .header {
  text-align: center;
  margin-bottom: 25px;
}
.landing-container .form-container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  min-width: 560px;
  max-width: 750px;
  margin: 0 auto;
}
.landing-container .form-container .input-field-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.landing-container .form-container .input-field-container .input-field {
  width: 45%;
  min-width: 75px;
  text-align: center;
  padding: 25px 10px;
  border: 1px solid #292929;
  border-radius: 35px;
  font-size: 16px;
}
.landing-container .form-container .option-container {
  border: 1px solid #292929;
  border-radius: 35px;
  margin-bottom: 20px;
  text-align: center;
  padding: 25px 10px;
  font-size: 16px;
}
.landing-container .form-container .main-button {
  cursor: pointer;
  background-color: #93ff92;
  padding: 25px 10px;
  border: 1px solid #3a3434;
  border-radius: 35px;
  font-size: 16px;
}

body {
  background-color: #060913;
  color: white;
}

a {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}
a:-webkit-any-link {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}