@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Smooch+Sans:wght@200&display=swap");

body {
  background-color: #96c6e2;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: "Smooch Sans", sans-serif;
}

input[type="text"] {
  width: 90px;
  height: 60px;
  font-family: "Smooch Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0px;
  text-align: center;
  margin: 2px;
}

select {
  width: 200px;
  height: 60px;
  padding: 0px 0px;
  border: 2px solid black;
  border-radius: 0px;
  background-color: white;
  font-size: x-large;
  font-family: "Smooch Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  display: flex;
  margin: 0.5em auto;
}

.submit input {
  width: 200px;
  height: 60px;
  padding: 0px 0px;
  border: 2px solid black;
  border-radius: 0px;
  font-size: x-large;
  font-family: "Smooch Sans", sans-serif;
  font-weight: bold;
  background: #f9baff;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0.5em auto;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.submit input:hover {
  background: #f8a9ff;
}

.submit input:active {
  background-color: #f697ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container h1 {
  font-size: 60px;
  width: fit-content;
  color: white;
  margin: 20px auto;
  text-shadow: 2px 2px 2px #f697ff;
}

.inputForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.output {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -25px;
  width: 200px;
  height: 0px;
  font-size: 0px;
  text-align: center;
  margin: auto;
  padding: 4px;
  font-weight: 900;
  background-color: #f9baff;
  color: black;
  border: solid 2px rgb(0, 0, 0);
  box-sizing: border-box;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  
}

@keyframes output {
  0% {
    opacity: 0;
    height: 0px;
    font-size: 0px;
    top: -20px;
    visibility: visible;
  }

  50% {
    background-color: white;
    font-size: 100%;
    height: 100px;
  }

  100% {
    opacity: 1;
    top: 0px;
    height: 100px;
    font-size: 100%;
    visibility: visible;
  }
}

@keyframes outputClose {
  0% {
    opacity: 1;
    height: 100px;
    font-size: 100%;
    top: 0px;
    visibility: visible;
  }

  50% {
   opacity: 0;
    height: 0px;
    font-size: 0%;
    top: -20px;
    visibility: hidden;
  }

  100% {

  }
}

@keyframes outputSwipe {
  0% {
    opacity: 1;
    top: 0px;
    left: 0px;
    height: 100px;
    font-size: 100%;
    visibility: visible
  }

  25% {
    left: 500px;
    opacity: 0;
    
  }

  50% { 
    left: -500px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
    height: 100px;
    font-size: 100%;
    visibility: visible
  }
}

@keyframes outputSwipeRepeat {
  0% {
    opacity: 1;
    top: 0px;
    left: 0px;
    height: 100px;
    font-size: 100%;
    visibility: visible
  }

  25% {
    left: 500px;
    opacity: 0;
    
  }

  50% { 
    left: -500px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
    height: 100px;
    font-size: 100%;
    visibility: visible
  }
}

@keyframes buttonAnim { 
  0% {  
    background-color:#f8a9ff;
  }

  50% { 
    background-color:#ffffff;
  }

  100% {  
    background-color:#f8a9ff;
  }
}