@import './vars.scss';  

.sign-up-container {    
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 10% auto 0;
    border-radius: 20px;
    background-color: #161B22;
    overflow: hidden;

    .left-decoration-section {  
        flex-grow: 2;
        position: relative;
        overflow: hidden;

        .wave-1 {    
            animation: decoration-wave 10s linear infinite;
        }

        .wave-2 {    
            animation: decoration-wave 10s 2s linear infinite;
        }

        .wave-3 {    
            animation: decoration-wave 10s 4s linear infinite;
        }

        .wave-4 {    
            animation: decoration-wave 10s 6s linear infinite;
        }

        .wave-5 {    
            animation: decoration-wave 10s 8s linear infinite;
        }

        .decoration-wave {  
            overflow: hidden;
            background: repeating-radial-gradient(circle, #131546, #444cf7 80px);
            border-radius: 300px;
            position: absolute;
            width: 100%;
            height: 60%;
            top: 18%;
            right: -200px;

            @keyframes decoration-wave {
                0% {    
                    opacity: 1;
                }

                100% {  
                    transform: scale(4);
                    opacity: 0;
                }
            }

        }

    }

    .right-form-section {   
        flex-grow: 1;
        padding: 20px 30px;

        .text-container {   
            margin-bottom: 15px;
        }

        .input-container {  
            display: flex;
            flex-direction: column;

            .input-item {   
                margin-bottom: 15px;
                padding: 10px 15px;
            }

            .button {   
                max-width: 50%;
                padding: 10px 0px;
            }

        }

    }

}