@mixin card {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-image: linear-gradient(to left, $background-color-dark, #16163d, #07071b);
    background-color: #161B22;
    overflow: hidden;
}

@mixin input-item {
    border-radius: $input-border-radius;
    font-weight: 600;
    color: #1d1d1d;
    margin-bottom: 1.5rem;
    padding: 1.3rem 2rem;
}