@import './vars.scss';
@import './mixins.scss';

.sign-up-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes glowing {
        0% {
            box-shadow: 0 0 0px #16163d;
        }

        50% {
            box-shadow: 0 0 20px #4141aa;
        }

        100% {
            box-shadow: 0 0 0px #16163d;
        }
    }

    .form-section {
        flex-grow: 1;
        padding: 4rem 6rem;
        max-width: 60rem;
        background: #0f0c29;
        background-image: none;
        background-size: auto;
        background-image: url("/static/src/images/rainbow-vortex.svg");
        background-size: cover;
        animation: glowing 10s ease-in-out infinite;
        border-radius: 2rem;

        .text-container {
            margin-bottom: 2.5rem;

            span {
                font-weight: 600;
            }
        }

        .input-container {
            display: flex;
            flex-direction: column;

            .input-item {
                @include input-item;
                margin-bottom: 2.5rem;
            }

            .button {
                padding: 1.3rem 0;
            }

        }

    }

}