@import './vars.scss';
@import './mixins.scss';

.sign-up-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        flex-grow: 1;
        padding: 4rem 6rem;
        max-width: 60rem;
        background: #0f0c29;
        background-image: none;
        background-size: auto;
        background-image: url("/static/src/images/rainbow-vortex.svg");
        background-size: cover;
        border-radius: 2rem;
        backdrop-filter: blur(2px);
        box-shadow: inset #00000080 0px 0px 45px 10px;
        border: 1px solid rgb(68, 68, 68);

        .text-container {
            margin-bottom: 2.5rem;

            span {
                font-weight: 600;

            }
        }

        .input-container {
            display: flex;
            flex-direction: column;

            .input-item {
                @include input-item;
                margin-bottom: 2.5rem;
            }

            .button {
                padding: 1.3rem 0;
            }

        }

    }

}